*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

.top-header{
    display: flex;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

.main-article:hover .description{
    display: block;
}

article:hover{
    box-shadow: 30px rgb(37, 151, 151);
}

.fas {
    transition: 3s;
}
main .fas:hover{
    transform: rotateZ(-90deg);
}


section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}




article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

.boton-enviar:hover{
    background-color: #0022AA;
    color: white;
}

.top-footer{
    display: flex;
       
}
 
footer{
    margin: 30px 2%;
    }

footer i{
    color:#0022AA;
    margin-left: 45%;
    font-size: 2em;
    margin-bottom: 10px;
    transition: 3ml;
}

footer i:hover{
    color:#39b54a
}

footer h4, footer p{
    text-align: center;
    margin: 10px
}


footer h6{
    margin-top: 10px; 
}

form{
    margin: 15px;
}



@media (min-width: 375px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
    
    .top-header{
        display: flex;
    }

    .ingreso{
        display: flex;
        flex-direction: column;
    }

    .usuario, .clave{
        width: 80%;
        border-radius: 5%;
        margin: 20px;
        padding: 5px;
    }
    .boton-enviar{
        width: 80%;
        border-radius: 5%;
        padding: 5px;
        margin: 20px;
    }

    .burger-menu{
        display: none;
    }

}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }

    .top-header{
        display: flex;
        justify-content: space-between;
    }

    header div .logo{
        width: 33%;
    }

    .compra-en-cuotas{
        max-width: 350px;
        text-align: right;
        font-size: 22px;
    }

    nav{
        display: flex;
        justify-content: space-between;
    }
    
    ul{
        display: flex;
        justify-content: space-between;
    }

    li{
        margin: 5px;
    }
}